@import url('https://fonts.googleapis.com/css?family=Roboto');



body{
    background-image: url('../images/hannes-wolf-lvknf1xJkfY-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: whitesmoke;
}
